###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
!/var/search/cache/.gitkeep
!/var/debug/cache/.gitkeep
!/dev/foundry-dev/src/Factory/.gitkeep
!/migrations/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.cache
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> ayruu ###
report
###< ayruu ###

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
